.date-picker {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  width: 100%;
}
.date-picker-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  width: 100%;
  box-sizing: border-box;
}
